{{#if logged_in}}
<form class="create-post">
    <div class="mb-3">
        <label for="titleID" class="form-label">Post Title</label>
        <input type="form-input" class="form-control" id="titleID" placeholder="title">
    </div>
    <div class="mb-3">
        <label for="postID" class="form-label">Post Text</label>
        <textarea class="form-control" id="postID" rows="3"></textarea>
    </div>


    <button class="btn btn-primary" id="save-post">Save Post</button>
</form>
{{else }}

<a href="/login">Login first</a>

{{/if}}


<script src="/js/createPost.js"></script>