<form class="create-post">
    <div>
        <label for="titleID"></label>
        <input class="form-input" id="titleID" type="text">
    </div>
    <div>
        <label for="postID"></label>
        <input class="form-input" id="postID" type="text">
    </div>

    
    <button class="btn btn-primary" id="save-post">Save Post</button>
</form>


<script src="/js/createPost.js"></script>