<form class="create-post">
    <label for="create-post-input"></label>
    <input id="titlerID" type="text">
    <input id="postID" type="text">
    <button class="btn btn-primary" id="save-post" type="submit">Save Post</button>
</form>


<script src="/js/createPost.js"></script>