{{#if logged_in}}
<section class="container">
    <h5 class="user-name">Welcome, {{user.username}}</h5>
    
    {{#each user.posts as |post|}}
    {{> post-details post}}
    {{/each}}
    <a class="btn" href="/addpost">New Post</a>
</section>
{{else }}

<a href="/login">Login first</a>

{{/if}}

