<h2>Welcome to the Tech Blog </h2>
{{#each posts as |post|}}
    <div class=" card  p-5 m-5">
        <h1>Posted by {{post.user.username}} on {{post.created_on}}</h1>
        <p>{{post.text}}</p>
    </div>
{{/each}}