{{#if logged_in}}
<button class="btn" id="new-post">New Post</button>
{{#else}}
<a href = "/login" ><button class="btn" id="login2">login to continue</button></a>
</div>
{{/if}}
<script src="/js/login.js"></script>